.fondo1
  background-image: url('../assets/curso/intro/fondo1.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.fondo2
  background-image: url('../assets/curso/tema1/fondo1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo3
  background-color: #12263F !important

.fondo4
  background-color: #5792ce59 !important

.fondo4:before
  background-color: #5793CE

.fondo5
  background-image: url('../assets/curso/tema1/fondo2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo6
  background-color: #ffe597d7

.fondo7
  background-image: url('../assets/curso/tema1/fondo3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo8
  background-image: url('../assets/curso/tema1/fondo4.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo9
  background-image: url('../assets/curso/tema1/fondo5.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo10
  background-image: url('../assets/curso/tema1/fondo6.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo11
  background-image: url('../assets/curso/tema1/fondo7.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo12
  background-image: url('../assets/curso/tema1/fondo8.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo13
  background-image: url('../assets/curso/tema2/fondo1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo14
  background-image: url('../assets/curso/tema2/fondo2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.tarjeta--azul
  background-color: #f6f6f6d7

.boton1
  display: inline-block
  align-items: center
  transform: scale(1)
  width: 560px
  height: 280px
  background-image: url('../assets/curso/tema1/boton1.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.boton2
  display: inline-block
  align-items: center
  transform: scale(1)
  width: 560px
  height: 280px
  background-image: url('../assets/curso/tema1/boton2.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.fa-caret-right:before
  color: #FF2C9C

.mover-arriba
  margin-top: -70px

.mover-arriba2
  margin-top: -40px

.mover-arribaAbajo
  margin-top: -40px
  margin-bottom: -40px

.correr-ambos
  margin-left: -50px
  margin-right: -50px

.bloque-texto-g__texto
    position: relative
    width: 70%
    left: auto
    right: 30%
    background-color: rgba(255,255,255,0.95)

.bloque-texto-g__img
    width: 50%
    max-height: 100%
    position: absolute
    top: 0
    right: -55%px
    left: 53%
    bottom: 0
    background-position: center
    background-size: cover

.titulo-segundo1.color-acento-contenido:after
  border-left-color: #E2C140

.titulo-segundo1:after 
  content: ''
  display: block
  height: 3px
  width: 650px
  border-left: solid 650px

.titulo-segundo2.color-acento-contenido:after
  border-left-color: #E2C140

.titulo-segundo2:after 
  content: ''
  display: block
  height: 3px
  width: 1130px
  border-left: solid 1130px

.modal-a__content
  background-color: #F0F0F0

.pasos-a.color-acento-botones .pasos-a__circle div
  color: #fff !important

@media (max-width: 992px)
  .bloque-texto-g__img
    width: 100% !important
    position: absolute
    top: -10% !important
    left: 0
    bottom: 0 !important
    background-position: center
    background-size: cover
  .bloque-texto-g__texto 
    position: relative
    width: 100%
    left: auto
    right: 0
    background-color: rgba(255, 255, 255, 0.95)
